@import 'settings';
@import 'foundation-emails';

.footer {
  table.menu {
    th.menu-item {
      $space: 8px;
      padding-left: $space;
      padding-right: $space;
      img {
        $size: 26px;
        width: $size;
        height: $size
      }
    }
  }
}

.img-headers {
  height: 38px !important
}

.refs {
  a {
    text-decoration: underline;
  }
}

.nils {
  font-size: 34px;
  font-weight: normal;
}

.top-links {
  a {
    font-size: 12px;
  }
}
