---
subject: My Welcome Email Template Subject
---

<container class="header">
  <row>
    <columns>
      <h1 class="text-center">Welcome to Kraken Academy</h1>

      <center>
        <menu class="text-center">
          <item href="#">About</item>
          <item href="#">Course List</item>
          <item href="#">Campus Map</item>
          <item href="#">Contact</item>
        </menu>
      </center>

    </columns>
  </row>
</container>

<container class="body-border">
  <row>
    <columns>
      <spacer size="32"></spacer>

      <center>
        <img src="http://placehold.it/200x200">
      </center>

      <spacer size="16"></spacer>

      <h4>An exciting future of terrorizing sailors awaits you at Kraken Academy.</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque culpa vel architecto, perspiciatis eius cum autem quidem, sunt consequuntur, impedit dolor vitae illum nobis sint nihil aliquid? Assumenda, amet, officia.</p>

      <center>
        <menu>
          <item href="#">krakenacademy.com</item>
          <item href="#">Facebook</item>
          <item href="#">Twitter</item>
          <item href="#">(408)-555-0123</item>
        </menu>
      </center>

    </columns>
  </row>

  <spacer size="16"></spacer>
</container>
